html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: @fuenteParrafos;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    background: @fondo;
    color: @blanco;
}

main {
    padding-top: 4rem;
}

.contenedor {
    width: min(90%, 100rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: @fuenteHeading;
    line-height: 1.2;
    margin: 0;
}

h1 { font-size: 4rem; }
h2 { font-size: 3.2rem; }
h3 { font-size: 2.6rem; }
h4 { font-size: 2rem; }

.no-margin {
    margin: 0;
}

.centrar-texto {
    text-align: center;
}

.flex {
    display: flex;
}