.section{
    margin-top:4rem;
}

.card{
    background:@secundario;
    padding:2rem;
    border-radius:1rem;
    margin-bottom:2rem;
    border:1px solid fade(@blanco,8%);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}